@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

:root {
  --text: #080807;
  --background: #f0f0ef;
  --primary: #b9c0bd;
  --secondary: #dbd9d7;
  --accent: #736d78;
  --white: #fff;
  --black: #111;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;

}

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(&val, 1fr));
  gap: 2rem;
}

@mixin titleText($titleSize) {
  font-size: $titleSize;
  color: var(--black);
  text-transform: capitalize;
}
@mixin graphText($graphSize) {
  font-size: $graphSize;
  color: var(--text);
  line-height: 2;
}

@mixin iconsBox() {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  background-color: var(--background);
  color: var(--accent);
  cursor: pointer;
  text-align: center;

  &:hover {
    background: var(--black);
    color: var(--white);
  }
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
}

section {
  padding: 5rem 10%;
}

.heading {
  margin-bottom: 3rem;
  @include titleText(3rem);
  padding-left: 1rem;
  border-left: 1rem solid var(--accent);
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--black);
  color: var(--background);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  transition:.2s linear;

  &:hover {
    background: var(--accent);
    color: var(--black);
  }
}
@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: var(--box-shadow);
  padding: 1.5rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: var(--background);

  .logo {
    @include titleText(2.5rem);

    span {
      color: var(--accent);
    }
  }

  .navbar a {
    @include titleText(2rem);
    margin: 0 1rem;

    &:hover {
      color: var(--accent);
    }
  }

  .icons div {
    @include iconsBox();
    margin-left: 0.3rem;
  }

  #menu-btn {
    display: none;
  }

  .search-form {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 70rem;
    background: var(--background);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    display: none;
    align-items: center;
    gap: 1rem;
    animation: fadeIn 0.2s linear;

    &.active {
      display: flex;
    }

    input {
      width: 100%;
      padding: 1.2rem 1.4rem;
      background: var(--secondary);
      font-size: 1.6rem;
      color: var(--black);
      border-radius: 100px;
    }

    label {
      font-size: 2.5rem;
      color: var(--primary);
      cursor: pointer;
      margin: 0 1rem;

      &:hover {
        color: var(--accent);
      }
    }
  }
}

.contact-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 35rem;
  background: var(--background);
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 5rem;
  display: none;

  &.active {
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    display: block;
  }

  #close-contact-info {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    font-size: 4rem;
    color: var(--black);

    &:hover {
      transform: rotate(90deg);
    }
  }

  .info {
    i {
      @include iconsBox();
      margin-bottom: 0.5rem;
    }

    h3 {
      @include titleText(2rem);
      padding: 1rem 0;
    }

    p {
      @include graphText(1.5rem);
    }
  }

  .share {
    padding-top: 2rem;
    border-top: var(--border);
    margin-top: 1rem;

    a {
      @include iconsBox();
      margin: 0 0.3rem;
    }
  }
}

.home {
  padding: 0;

  .slide {
    min-height: 60rem;
    display: flex;
    align-items: center;
    position: relative;
    background-position: center !important;
    background-size: cover !important;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(90deg, var(--background), transparent);
    }

    .content {
      width: 50rem;
      position: relative;

      h3 {
        @include titleText(6rem);
        text-transform: uppercase;
      }

      p {
        @include graphText(1.4rem);
        padding: 1rem 0;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: var(--primary);
    background: transparent;
    border: none;
    padding: 15px;
    border-radius: 50%;

    &:hover {
      background: var(--accent);
      padding: 30px;
    }
  }

  .swiper-pagination {
    color: var(--background);
  }

  .swiper-pagination-progressbar-fill {
    background-color: var(--accent); 
  }
}

.about {
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;

    .video {
      flex: 1 1 41rem;
      max-width: 100%;

      video {
        width: 100%;
      }
    }

    .content {
      flex: 1 1 41rem;

      h3 {
        font-size: 3.5rem;
      }

      p {
        font-size: 1.5rem; 
        padding: 1rem 0;
      }
    }
  }

  .box-container {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; 


    .box {
      width: calc(25% - 2rem); 
      text-align: center;
      background: var(--secondary);
      padding: 3rem 2rem;

      h3 {
        @include titleText(4rem);
      }

      p {
        @include graphText(1.5rem);
        padding-top: 0.5rem;
      }
    }
  }
}


.services {
  background: var(--secondary);

  .box-container {
    display: grid;
    grid-gap: 2rem; // Adjust the gap as needed
    grid-template-columns: repeat(3, 1fr); // Initially, 3 columns

    .box {
      text-align: center;
      padding: 3rem;
      background: var(--background);
      box-shadow: var(--box-shadow);
      border: var(--border);


      &:hover img {
        transform: translateY(-1rem);
        transition:.2s linear;
      }

      img {
        height: 7rem;
        margin-bottom: .5rem;
      }

      h3 {
        @include titleText(1.7rem);
        padding: 1rem 0;
      }

      p {
        @include graphText(1.4rem);
      }
    }
  }
}

.projects {
  background-color: var(--black);

  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 2rem;

    .box {
      cursor: pointer;


      &:hover .image img {
        transform: scale(1.1);
        transition:.2s linear;
      }

      .image {
        height: 30rem;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .content {
        display: flex;
        gap: 0.5rem;
        background: var(--white);
        justify-content: space-between;

        .info {
          padding: 1rem 2rem;

          h3 {
            @include titleText(1.7rem);
          }

          p {
            @include graphText(1.5rem);
          }
        }

        i {

          width: 4rem; /* Adjust the width for the icon */
          font-size: 2rem; /* Adjust the font size for the icon */
          background: var(--accent);
          color: var(--white);
          cursor: pointer;
          text-align: center;
          line-height: 7.5rem; /* Adjust the line-height for vertical alignment */
        }
      }
    }
  }
}

.contact{
  background:var(--background);

  

  .row{
   display: flex;
   flex-wrap: wrap;
   gap:2rem;

   .map{
    flex:1 1 41rem;
    width: 100%;
   }

   form{
    flex:1 1 41rem;
    background: var(--white);
    padding: 2rem;

    h3{
      @include titleText(2.5rem);
    }
    .box{
      margin:.7rem 0;
      width: 100%;
      padding: 1.5rem 0rem;
      border-bottom:var(--border) ;
      font-size: 1.6rem;
      color:var(--text);
      
      &:focus{
        border-color: var(--accent);
      }
    }

    textarea{
      height: 15rem;
      resize: none;
    }

   }
  }
}


.blogs{

  .slide{
    text-align: center;

    &:hover .image img{
      transform: scale(1.1);
    }
    .image{
      height: 25rem;
      width: 90%;
      overflow: hidden;
      margin:0 auto;
      margin-bottom: -3rem;

      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      
    }


    .content{
      padding:2rem;
      padding-top: 5rem;
      padding-bottom: 4rem;
      background: var(--background);
      box-shadow: var(--box-shadow);

      h3{
        @include titleText(2rem);
      }

      p{
        padding:1rem 0;
        @include graphText(1.4rem);
      }
    }

  }

  .swiper-pagination-bullet-active {
    background-color: var(--black); 
  }
}
.footer {
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 10%;
  background-color: var(--black);
  margin-bottom: -20rem;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .info-footer,
    .share-footer,
    .menu {
      display: flex;
      align-items: center;
      color: var(--white);
    }

    .info-footer .info {
      margin-right: 2rem; /* Add space between info elements */
      display: flex;
      align-items: center;
      color: var(--white);
    }

    .info-footer i {
      font-size: 2rem;
      margin-right: 1rem; /* Adjust space between icons */
      vertical-align: middle;
    }

    .info-footer p,
    .menu a {
      margin: 0;
    }

    .share-footer .fab:not(:last-child) {
      margin-right: 1rem; /* Add space between share icons */
    }

    .menu a {
      text-decoration: none;
      color: var(--white);
      margin: 0 1.3rem; /* Add space between menu items */
      font-weight: bold;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--primary);
      }
    }

    .menu {
      margin-top: 1rem; /* Add space between info and menu */
      margin-left: 13rem; /* Reset left margin to keep menu on the left */
      margin-right: auto; /* Push menu to the right */
    }
  }

  .credit {
    @include titleText(1rem);
    color: var(--white);
    margin-top: 1rem;
    padding-top: 1rem;

    span {
      color: var(--primary);
    }
  }
}









//media queries
@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }

  .header {
    #menu-btn {
      display: inline-block;
    }

    .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: var(--background);
      border-top: var(--border);
      border-bottom: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition:.2s linear;

      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      a {
        display: block;
        margin: 2rem;
      }
    }
  }

  .services{
    .box-container {
      grid-template-columns: repeat(2, 1fr); // On screens <= 1024px, switch to 2 columns
    }
  }
}

@media (max-width: 768px) {
  .header {
    .search-form {
      width: 90%;
    }
  }

  .home .slide {
    justify-content: center;

    .content {
      text-align: center;

      h3 {
        font-size: 3rem;
      }
    }
  }
  .services{
    .box-container {
      grid-template-columns: repeat(2, 1fr); // On screens <= 1024px, switch to 2 columns
    }
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

//sass --watch css/style.scss:css/style.css
